.project-card {
  width: 320px;
  height: 340px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
  background: #252734;
  text-align: left;
  padding-top: 1.5rem;
  position: relative;
  overflow: hidden;
}


@media all and (min-width: 768px) {
  #projects {
    display: flex;
    flex-direction: column;

    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
  }
  .project-card:nth-child(odd) {
    margin-right: 4rem;
    align-self: flex-start;
  }
  .project-card:nth-child(even) {
    margin-left: 4rem;
    align-self: flex-end;
  }

  .project-intro {
    margin-left: 3rem;
  }
}

.project-intro {
  max-width: 500px;
}

.project-sub {
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.875rem;
  letter-spacing: 0.05em;
  margin: 0;
  margin-left: 1.5rem;
  margin-bottom: 0.7rem;
  color: #098bea;
}

.project-title {
  font-style: normal;
  font-weight: 600;
  font-size: 1.875rem;
  line-height: 2.5rem;
  margin: 0;
  margin-left: 1.5rem;

  letter-spacing: 0.05em;
  color: #ffffff;
}

.project-img {
  width: 100%;
  display: block;
  margin-top: 35px;
}
.project-card:hover > .project-cover{
	
	opacity: 1;
	
}
.project-card:hover > .project-cover{
	
	opacity: 1;
	
}
.project-card:hover > .project-img{
	display: none;
}
.project-cover{
	opacity: 0;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	height: 91%;
	width: 91%;
	z-index: 1;
	background-color:#098bea;
	position: absolute;
	padding: 1rem;
	top: 0;
	transition: all 0.5s linear;
}

.project-cover p, .project-cover li {
	font-size: 0.95rem;
}




@media all and (min-width: 1200px) {
  .project-card:nth-child(odd) {
    margin-right: 0;
    margin-left: 0;
    align-self: flex-start;
  }
  .project-card:nth-child(even) {
    margin-right: 0;
    margin-left: 0;
    align-self: flex-start;
  }
  .project-intro {
    margin-left: 0;
  }
  #projects {
    flex-direction: row;
  }
  .project-card {
    width: 328px;
  }
  .project-intro > .sub-title {
	font-size: 1rem;
      }
      .project-intro > .title {
	font-size: 1.9rem;
      }
      .project-intro > .information-paragraph {
	font-size: 0.8rem;
      }
      .project-intro {
	width: 60%;
      }
.projects-first-column{
	height: 100vh;
}
.projects-second-column{
	height: 100vh;
}
  
}
