.role-container {
  padding-left: 3rem;
  padding-top: 5rem;
  background: #252734;
  width: 220px;
  margin-left: auto;
  margin-right: auto;
  height: calc(346px - 5rem);
  position: relative;
  overflow: hidden;
  top: -100px;
  transition: 0.5s;
}
.role-container-x {
	display: none;
}

.role-container:hover {
  background-color: #098bea;
}
.role-container:hover path {
  color: white;
}
path {
  transition: 0.5s;
}

.small-line {
  width: 41px;
  height: 0px;

  opacity: 0.2;
  border: 1px solid #ffffff;
  margin-bottom: 1.2rem;
}

.role-content {
  margin-right: 50%;
  opacity: 1;
  text-align: left;
  width: 168.75px;
}
.role-text {
  font-size: 1.1rem;
  line-height: 1.56rem;
  letter-spacing: 0.05rem;
  opacity: 0.6;
}
.roles {
  margin-bottom: -700px;
}
.role-title {
  font-style: normal;
  font-weight: 600;
  font-size: 1.75rem;
  line-height: 2.5rem;
  letter-spacing: 0.075rem;
  color: #ffffff;
  margin-bottom: 1.4rem;
  margin-top: 1.1rem;
}

@media all and (min-width: 1300px) {
  .role-container-x {
    display: block;
  }
  .role-container-primary{
	  display: none;
  }
  .role-container {
    margin: 0 7px;
    height: 230px;
    width: 250px;
  }
  .role-content {
    top: 10%;
  }
  .role-title {
    font-size: 1.4rem;
    line-height: normal;
  }
  .role-text {
    font-size: 0.9rem;
  }
  .small-line {
    width: 32px;
  }
}
