.contact-container {
  color: black;
  padding-top: 6rem;
}
.contact-col-1{
	opacity: 0;
}
.contact-col-2{
	opacity: 0;
}
.contact-sub {
  font-size: 1.15rem;
  font-weight: 600;
  letter-spacing: 0.03em;
  opacity: 0.7;
}
.contact-sub-container{
	width: 100%;
}
.contact-title {
  width: 70%;
}
.contact-link {
  margin-top: 2rem;
  margin-bottom: 5.8rem;
}

.contact-paragraph {
  font-size: 1rem;
  line-height: 1.9rem;

  letter-spacing: 0.05em;

  opacity: 0.7;
  font-weight: 400;
  margin-top: 0.2rem;
}

.paragraph-two {
  margin-top: 4rem;
}

a {
  color: inherit;
}

@media all and (min-width: 1200px) {
  .contact-sub-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contact-sub-container{
	  max-width: 1100px;
	  margin-left: auto;
	  margin-right: auto;
  }
  .contact-col-1 {
    display: flex;
    flex-direction: column;
  }
  
}

@media all and (min-width: 1300px) {
  .contact-sub-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    padding-bottom: 5rem;
  }
  .contact-col-1 {
	
    display: flex;
    flex-direction: column;
    width: 35%;
  }
  .contact-col-1 .contact-sub {
    font-size: 1rem;
    margin-left: 0;
  }
  .contact-col-1 .contact-title {
    margin-left: 0;
    font-size: 1.8rem;
    line-height: normal;
  }
  .contact-col-1 .contact-paragraph {
    font-size: 0.9rem;
    line-height: 1.3rem;
  }
  .contact-col-1 .large-link {
    margin-left: 0;
    font-size: 1.1rem;
    width: 68%;
  }
  .contact-col-2 {
    display: flex;
    flex-direction: column;
    width: 35%;
  }
  .contact-col-2 .title {
    margin-left: 0;
    margin-top: 6%;
    margin-bottom: 3.5%;
    font-size: 1.8rem;
  }

  .contact-col-2 .information-paragraph {
    margin-left: 0;
    margin-bottom: 2.2rem;
    font-size: 0.9rem;
    line-height: 1.3rem;
    font-weight: 400;
  }
}

@keyframes left-column-in{
	0%{
		opacity: 0;
		transform: translateX(var(--translate-value-left));
	}
	100%{

		opacity: 1;
		transform: translateX(0);
	}
}


@keyframes left-column-out{
	0%{
		opacity: 1;
		transform: translateX(0);
	}
	100%{
		opacity: 0;
		transform: translateX(var(--translate-value-left));
	}
}

@keyframes right-column-in{
	0%{
		opacity: 0;
		transform: translateX(var(--translate-value-right));
	}
	100%{
		opacity: 1;
		transform: translateX(0);
	}
}
@keyframes right-column-out{
	
	0%{
		opacity: 1;
		transform: translateX(0);
	}
	100%{
		opacity: 0;
		transform: translateX(var(--translate-value-right));
	}
}