

.blog-sub-container{
	margin-top: 6rem;
	padding-top: 4rem;
	padding-bottom: 4rem;
	letter-spacing: 0.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 69%;
	margin-left: auto;
	margin-right: auto;
}
.blog-card .coming-soon, .blog-card .coming-soon-details{
	font-size: 1.1rem;
	width: 70%;
}
.blog-container .blog-card{
	margin: 0 20px;
	height: 45vh;
	min-height: 400px;
	width: 300px;
}

.blog-title{
	margin-left: auto;
	margin-right: auto;
	font-weight: bold;
}
.additional-blogs{
	display: none;
}


@media all and (min-width: 1300px){
	.additional-blogs{
		display: flex;
	}
	.blog-card-container{
		display: flex;
	}
	.blog-heading-container{
		align-self: center;
	}
	.blog-heading-container > .sub-title{
		font-size: 1rem;
		margin-bottom: 0.5rem;
	}
	.blog-heading-container > .title{
		font-size: 2rem;
	}
}